<h2>Create a new Zombie!</h2>

<%= simple_form_for(@zombie) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, placeholder: "Name" %>
    <%= f.input :hit_points, collection: 1..10, placeholder: "Hit Points" %>
    <%= f.input :brains_eaten, collection: 1..10, placeholder: "Brains Eaten" %>
    <%= f.input :speed, collection: 1..5, placeholder: "Speed" %>
  </div>

<% end %>

 <%= link_to "submit", user_path(current_user), class: "btn login" %><


<p>Click the button to display your Zombie's Hit Point</p>

<button onclick="myFunction()">Hit Points</button>

<p>Your Zombie's Hit Points are:</p>

<p id="demo"></p>

<script>
function myFunction() {
    var x = Math.floor((Math.random() * 20) + 1);
    document.getElementById("demo").innerHTML = x;
}

</script>


